<!DOCTYPE html>
<html>
  <head>
    <title>EventManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins&display=swap" rel="stylesheet">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/assets/sweetalert.css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/sweetalert.min.js"></script>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <script type="text/javascript">
        toastr.<%= key %>('<%= value%>!', '<%= key.capitalize %>')
      </script>
    <% end %>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <% if current_user %>
            <a class="navbar-brand" href="<%= events_path %>">OnEvents</a>
          <% else %>
            <a class="navbar-brand" href="<%= root_path %>">OnEvents</a>
          <% end %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li class="active">
              <a href="<%= events_path %>"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.name.capitalize %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="<%= logout_path %>"><i class="fa fa-sign-out"></i>&emsp;Logout</a></li>
              </ul>

            </li>
          <% else %>
            <li class="active">
              <a href="<%= root_path %>"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li><a href="<%= login_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="<%= signup_path %>"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();

        $('#tkt_book').on('click', function(){
          $.ajax({
            type: 'post',
            url: '/book_ticket',
            data: {tktcount: $('#noofticket').val()},
            dataType: 'json',
            success : function(response){
              swal({
                html:true,
                title: "Booked!",
                text: "<h3>Total Price: "+ response +"</h3></br>Your ticket has been booked successfully",
                type: 'success'
              }, function(){
                window.location.href = '/events'
              }, 5000);
            }
          });
        });
      });
    </script>
  </body>
</html>
